<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
   <h:head>
      <h:outputStylesheet library="css" name="styles.css"/>
      <title>#{msgs.title}</title>
   </h:head>
   <h:body>
      <h:form>
            <p class="title">#{msgs.title}</p>
             <h:selectOneListbox styleClass="menu"
                                 value="#{quizBean.categoryString}"
                                 required="true"
                                 requiredMessage="Selection is required.">
                 <f:selectItems value="#{quizBean.categoryArray}"/>
            </h:selectOneListbox>
             <p>
             <h:commandButton value="#{msgs.startQuiz}"
                              action="#{quizBean.categoryAction}"
                              styleClass="button"/>
             </p>
      </h:form>
   </h:body>
</html>