<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <p class="title">Error Page:</p>
        <p>
            #{quizBean.error}
        </p>
    </h:body>
</html>
