<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
                <p class="title">#{msgs.login}</p>
                <p class="text">#{msgs.register}</p>
                <p>
                    <h:commandButton value="Register"
                                     action="register?faces-redirect=true"
                                     immediate="true"
                                     styleClass="button"
                                     />
                </p>
        </h:form>
        <h:form>
                <p>
                    Username <h:inputText value="#{loginBean.username}"
                                           required="true"
                                           requiredMessage="A name is required"/>
                </p>
                <p>
                    Password <h:inputSecret value="#{loginBean.password}"
                                           required="true"
                                           requiredMessage="A password is required"/>
                </p>
                <p>
                <h:commandButton value="Login"
                                action="#{loginBean.loginAction}"
                                styleClass="button"/>
                </p>
                <p>
                    <h:panelGroup rendered="#{!loginBean.verified}"
                                  styleClass="error">
                        #{msgs.invalid}
                    </h:panelGroup>
                </p>
        </h:form>
    </h:body>
</html>
