<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title> #{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
        <p>
            <p class="title">#{quizBean.category.name}
                Trivia Quiz</p>

            <p class="text"> #{quizBean.currentUser}'s current scores:</p>
            <table class="table">
                <tr> <!-- column header row -->
                    <ui:repeat value="#{databaseBean.categories}" var="categories">
                        <td class="header">#{categories}</td> <!-- column header entries -->
                    </ui:repeat>
                </tr>
                <tr> <!-- main table rows -->
                    <ui:repeat value="#{quizBean.currentUserScore}" var="score">
                        <td class="entry">#{score}</td>
                    </ui:repeat>
                </tr>
            </table>


            <h:panelGroup rendered="#{!quizBean.start}">
            <p>
            <h:outputFormat value="#{msgs.correctAnswer}" rendered ="#{!quizBean.correct}"
                            styleClass="text">
                <f:param value="#{quizBean.prevAnswer}"/>
            </h:outputFormat>

            <h:outputFormat value="#{msgs.correct}" rendered ="#{quizBean.correct}"
                            styleClass="text">
            </h:outputFormat>
            </p>
            </h:panelGroup>


            <h:panelGroup rendered="#{!quizBean.done}">
            <p>
                <p class="text">#{msgs.question} </p>
                <p class="text">#{quizBean.question}</p>
            </p>
                <p>
                <h:selectOneRadio value="#{quizBean.response}" layout="pageDirection"
                                  styleClass="radio"
                                  required="true"
                                  requiredMessage="Selection is required.">
                    <f:selectItems value="#{quizBean.category.problem.possibleAnswers}"/>
                </h:selectOneRadio>
                </p>
            <p>
            <h:commandButton value="#{msgs.checkAnswer}"
                             action="#{quizBean.answerAction}"
                             styleClass="button"/>
            </p>
            </h:panelGroup>

            <h:panelGroup rendered="#{quizBean.done}"
                          styleClass="text">
                <p> Congratulations you have completed the
                    #{quizBean.category.name} Trivia Quiz!</p>
                <p>
                <h:commandButton value="#{msgs.anotherQuiz}"
                             action="#{quizBean.startOverAction}"
                             styleClass="button"/>
                </p>
            </h:panelGroup>
        </p>
        </h:form>
    </h:body>
</html>
